<div id="signup"  class="container spacer about">
  <div class="border-form-div">
    <h3 class="title">Sign Up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: "form-control"  %>
      </div>

     <div class="form-group">
        <%= f.label :last_name %><br />
         <%= f.text_field :last_name, autofocus: true, class: "form-control" %> 
      </div>

      <div class="form-group">
        <%= f.label :image, "Profile Image" %><br />
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %><br />
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :birthdate %><br />
        <%= f.date_select :birthdate, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 21, end_year: Date.today.year - 80}, class: "form-control-sm" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary-100" %>
      </div>
    <% end %>
  </div>
</div>