<div id="user"  class="container spacer">
  <div class="border-user-div">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag @user.image_url(:preview), class: "user-box" %>
      </div>
      <div class="col-xs-12 col-sm-8 user-details">
        <h2><%= @user.full_name %></h2>
        <p><i class="fa fa-home" aria-hidden="true"></i><strong>Location: </strong><%= @user.location %></p>
        <p><i class="icon ion-beer"></i><strong>Total Beers Added: </strong><%= @user.beers.count %></p>
        <% if @user.beers.count == 0 %>
            <%= link_to "/beers" do %>
              <i class="fa fa-search" aria-hidden="true"></i> Search For Beers
            <% end %>
            <%= link_to "/custom_beers/new" do %>
              <i class="fa fa-plus" aria-hidden="true"></i> Add Your Own Beer
            <% end %>
        <% end %>
      </div> 
    </div>
    <div class="row">
      <% @paginable_beers.each do |beer| %>
        <div class="col-md-3 text-center">
          <div class="beer-box">
            <%= link_to beer.url do %>
            <%= image_tag beer.image_url(:preview) %>
            <% end %>
          </div>
          <div><%= link_to beer.name, beer.url %></div>
          <div>
          <% (1..beer.rating).each do |rating| %>
            <i class="icon ion-beer"></i>
          <% end %>
              <%= hidden_field_tag :beer_rating, beer.rating, class: "stars_rating" %>
            </div>

          <div class="clearfloat"></div>
        </div>
      <% end %> 
    </div> 
    <div class="text-center"><%= paginate @paginable_beers %></div>
  </div>
</div>