<div id="user"  class="container spacer">
  <div class="border-user-div">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <%= image_tag @user.image_url(:preview), class: "user-box" %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <h2><%= @user.full_name %></h2>
        <p><strong>Location: </strong><%= @user.location %></p>
        <p><strong>Total Beers Added: </strong><%= @user.beers.count %></p>
      </div> 
    </div>
    <div class="row">
      <% @paginable_beers.each do |beer| %>
        <div class="col-md-3 text-center">
          <div><%= image_tag beer.image_url(:preview), class: "beer-box" %></div>
          <div><%= link_to beer.name, beer.url %></div>
          <div class="clearfloat"></div>
        </div>
      <% end %> 
    </div> 
    <div class="text-center"><%= paginate @paginable_beers %></div>
  </div>
</div>