<h1> User Show Page</h1>


<p>User Name: <%= @user.email %></p>
<p>Beers Drank: <%= @user.beers.count %></p>
<p>Top 5 Beers: </p>

<p>Beers <%= @user.first_name %> Drank</p>

<ul>
 <li><%= link_to @custom_beer.name, "/custom_beers/#{@custom_beer.id}" %></li>
 <li>Ranking : <%= rating_for @custom_beer,  "overall_taste", disable_after_rate: false %></li>
 <li><%= image_tag @custom_beer.image_url(:preview) %></li>
 <br>
 <li><%= link_to @api_beer.beer.beer_name, "/beers/#{@api_id}" %></li>
 <li>Ranking : <%= rating_for @beer,  "overall_taste", disable_after_rate: false %></li>
 <li><%= image_tag @beer.image_url(:preview) %></li>
</ul>
