<h1> User Show Page</h1>

<% brewery_db = Beer.api_call %>
<% number_beers = @user.beers.count - 1 %>

<p>User Name: <%= @user.email %></p>
<p>Beers Drank: <%= @user.beers.count %></p>
<p>Top 5 Beers: </p>

<p>Beers <%= current_user.first_name %> Drank</p>

<% @user.drank_list.each do |beer| %>
  <% if beer.beer_id %>
    <% id = beer.beer_id %>
    <% user_beer = UserBeer.find_by(id: id) %>
    <%= user_beer.name %>
  <% else %>
    <% id = beer.api_id %>
    <% api_beer = brewery_db.beers.find(id) %>
    <%= api_beer.name_display %>
  <% end %>
<% end %>
