<div id="about"  class="container spacer">
<h1>Edit API Beer</h1>

<%= form_tag "/beers/#{@beer.id}", multipart: true, method: :patch do %>
  <div>
    <%= label_tag :tap %>
    <%= select_tag(:tap, options_for_select(['Tap', 'Bottled'])) %>
  </div>
  <div>
    <%= label_tag :image %><br>
    <%= file_field_tag :image %>
  </div>
  <div>
    <%= submit_tag 'Edit My Beer' %>
  </div>
<% end %>
</div>