<h1>Edit API Beer</h1>

<%= form_tag "/beers/#{@beer.id}", method: :patch do %>
  <div>
    <%= label_tag :rank %>
    <%= text_field_tag :rank, @beer.rank %>
  </div>
  <div>
    <%= label_tag :tap %>
    <%= select_tag(:tap, options_for_select(['Tap', 'Bottled'])) %>
  </div>
  <div>
    <%= submit_tag 'Edit My Beer' %>
  </div>
<% end %>