<div id="about"  class="container spacer">
  <h1 class="text-center">99 Beers</h1>
  <h2 class="text-center"> A Collection of Your Favorite Beers</h2>
    <div class="row">
      <div class="col-sm-1"></div>
    <div class="col-sm-5 col-xs-8">
      <h4>Search for beers</h4>
        <p>Was it Anchor Steam or Anchorage Brewing? Was it a Pale Ale or a Pale Lager. Search by name or type of beer from a database full of thousands of beer submitted by beer drinkers like you.</p>
      </div>
    <div class="col-sm-5 col-xs-8">
      <%= form_tag '/beers/search', method: :post, class: "form-inline" do %>
        <div class="form-group">
        <%= label_tag :beer_search, "Look Up Beer" %>
        <%= text_field_tag :beer_search, "", class: "form-control" %>
      </div>
          <%= submit_tag "Search", class: "btn btn-primary btn-xs" %>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div id="search" class="container spacer">
  <h2 class="text-center">Rate your favorite beers</h2>
     <div class="col-sm-1"></div>
     <div class="col-sm-5 col-xs-8">
       <%= image_tag "rating3.png", class: "img-responsive" %>
     </div>
     <div class="col-sm-5 col-xs-8">
       <p> Did you just take a sip of an amazing balanced beer and want to note it for the next time? Or maybe it was too hoppy and you would prefer not to order it again. Rate it and add notes so you and your friends can see what you think of the beer.</p>
     </div>
     <div class="col-sm-1"></div>   
</div>


<div id="partners" class="container spacer">
  <h2 class="text-center">Collect your beers on a trophy wall</h2>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 col-xs-8">
       <p> You won't ever forget about a beer you've had. Every beer you rate is placed on your beer trophy wall for you to show off. You can browse the trophy wall of other beer lovers on 99 Beers.</p> <p>How long will it take you to collect 99 Beers?</p>
    </div>
    <div class="col-sm-5 col-xs-8">
      <%= image_tag "trophywall1.png", class: "img-responsive" %>
    </div>
    <div class="col-sm-1"></div>
</div>

