<h1>Beers Show Page</h1>

<li>Name: <%= @beer.name_display %></li>
<li>Style: <%= @beer.style.name %></li>
<li>ABV Max<%= @beer.style.abv_max %></li>
<li>ABV Min<%= @beer.style.abv_min %></li>
<li>IBU Max<%= @beer.style.ibu_max %></li>
<li>IBU Min<%= @beer.style.ibu_min %></li>