<div id="beershow"  class="container spacer about"> 
  <div class="border-beer-div">
    <div class="panel-heading text-center">
      <img src="<%= @api_beer.beer.beer_label %>">
    </div>
    <div class="panel-body text-center">
      <%= @api_beer.beer.beer_name %>
    </div>
      <table class="table">
        <tr>
          <th>Style</th>
            <td><%= @api_beer.beer.beer_style %></td>
        </tr>
        <tr>
          <th>ABV</th>
            <td><%= @api_beer.beer.beer_abv %></td>
        </tr>
        <tr>
          <th>IBU</th>
            <td><%= @api_beer.beer.beer_ibu %></td>
        </tr>
        <tr>
          <th>Brewery</th>
            <td><%= @api_beer.beer.brewery.brewery_name %></td>
        </tr>
        <tr>
          <th>Description</th>
            <td><%= @api_beer.beer.beer_description %></td>
        </tr>
      </table>
      <% if current_user && current_user.beers.include?(@beer) %>
        <table class="table">
        <p class="drankit">Drank It!<i class="fa fa-check-circle-o" aria-hidden="true"></i></p>
          <tr>
            <th>Tap/Bottled</th>
              <td><%= @beer.tap_convert %></td>
          </tr>
          <tr>
            <th>My Rating</th>
              <td><%= select_tag 'stars_dropdown', 
          '<option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>'.html_safe, class: "stars_show" %></td>
          </tr>
          <tr>
            <th>My Picture</th>
              <td><%= image_tag @beer.image_url(:preview), class: "user-box" %></td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <%= link_to "/beers/#{@beer.id}/edit" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit   
              <% end %>
               <%= link_to "/beers/#{@beer.id}", method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
              <% end %>
            </td>
          </tr>
        </table>
        <%= link_to "/users/#{current_user.id}" do %>
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back To Trophy Wall
        <% end %>
      <% elsif current_user %>
      <div id="beermug">
        <%= form_tag "/beers", multipart: true, method: :post do %>
          <div class="form-group">
            <%= label_tag "Rate This Beer" %>
            <%= select_tag 'stars_dropdown', 
              '<option value="" selected disabled hidden></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>'.html_safe %>
          </div>
          <div class="form-group">
            <%= label_tag :tap, "Tap/Bottled" %>
            <%= select_tag(:tap, options_for_select(['Tap', 'Bottled'])) %>
          </div>
          <div class="form-group" %>
            <%= label_tag "Upload Your Image" %>
            <%= file_field_tag :image, class: "input-sm" %>
          </div>
          <%= hidden_field_tag(:api_id, params[:id]) %>
          <%= hidden_field_tag(:beer_name, @api_beer.beer.beer_name) %>
          <div>
            <%= submit_tag "Add To Wall", class: "btn btn-primary" %>
          </div>
          <% end %>
          <%= link_to "Add A Custom Beer", "/custom_beers/new", :method => "get" %>
      </div>
        <%= link_to "/users/#{current_user.id}" do %>
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back To Trophy Wall
        <% end %>
      <% else %>
        <p class="drankit">Please sign up to add beers!</p>
      <% end %>
  
  </div>
</div>

<% if current_user && current_user.beers.include?(@beer) && @beer.get_rating(current_user) %>
  <script type="text/javascript">
    $(window).bind("load", function() {
      $('.stars_show').barrating('set', <%= @beer.get_rating(current_user).rating.to_i %>);
      $('.stars_show').barrating('readonly', true);
    });
  </script>
<% end %>

