<h1>Add New Beer</h1>

<%= form_tag "/custom_beers", method: :post do%>
    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div>
      <%= label_tag :style %>
      <%= text_field_tag :style %>
    </div>
    <div>
      <%= label_tag :abv %>
      <%= text_field_tag :abv %>
    </div>
    <div>
      <%= label_tag :ibu %>
      <%= text_field_tag :ibu %>
    </div>
    <div>
      <%= label_tag :brewery %>
      <%= text_field_tag :brewery %>
    </div>
    <div>
      <%= label_tag :description %>
      <%= text_field_tag :description %>
    </div>
    <div>
      <%= label_tag :rank %>
      <%= text_field_tag :rank%>
    </div>
    <div>
      <%= label_tag :tap %>
      <%= select_tag(:tap, options_for_select(['Tap', 'Bottled'])) %>
    </div>
    <div>
      <%= submit_tag "Add to Trophy Wall" %>
    </div>
<% end %>