<table>
  <tr>
    <th>Beer Name</th>
    <th>Label</th>
    <th>Style</th>
    <th>ABV</th>
    <th>IBU</th>
    <th>Brewery</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @custom_beer.name %></td>
    <td><%= @custom_beer.style %></td>
    <td><%= @custom_beer.abv %></td>
    <td><%= @custom_beer.ibu %></td>
    <td><%= @custom_beer.brewery %></td>
    <td><%= @custom_beer.description %></td>
  </tr>
</table>

<% if current_user && current_user.beers.include?(@general_beer) %>
  <p>My Ranking: <%= @general_beer.rank %></p>
  <p>Tap/Bottled: <%= @general_beer.tap_convert %></p>
  <p>Location Drank: </p>
   <p>My Image:
    <%= image_tag @general_beer.image_url(:preview).to_s %>
  </p>
    <div>
      <%= link_to "Edit Beer", "/custom_beers/#{@custom_beer.id}/edit" %>
      <%= link_to "Delete Beer", "/custom_beers/#{@custom_beer.id}", method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
<% end %>