<!DOCTYPE html>
<html>
<head>
  <title>Ninety9beers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar animated fadeInLeftBig"></div>

  <!-- Header Starts -->
  <div class="navbar-wrapper">
        <div class="container">

          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
            <div class="container">
              <div class="navbar-header">
                <!-- Logo Starts -->
                <a class="navbar-brand" href="#home"><%= image_tag "logo.png" %></a>
                <!-- #Logo Ends -->


                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div>


              <!-- Nav Starts -->
              <div class="navbar-collapse  collapse">
                <ul class="nav navbar-nav navbar-right scroll">
                     <li class="active"><%= link_to 'Home', '/beers' %></li>
                     <% if user_signed_in? %>
                       <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                       <li ><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                       <li ><%= link_to "Trophy Page", "/users/#{current_user.id}" %></li>
                     <% else %>

                       <li ><a href="#contact">Contact</a></li>
                      <% end %>
                </ul>
              </div>
              
              <!-- Kylie's Code -->
              <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>
                <%= link_to 'Home', '/beers' %> |
                <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
                <%= link_to "Trophy Page", "/users/#{current_user.id}" %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
              
              <!-- #Nav Ends -->

            </div>
          </div>

        </div>
      </div>
  <!-- #Header Starts -->

  <%= yield %>

  <!-- Footer Starts -->
  <div class="footer text-center spacer">
    <p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p>
    Copyright 2014 Cyrus Creative Studio. All rights reserved.
  </div>
  <!-- # Footer Ends -->
  <a href="#home" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>

  

</body>
</html>
